figure{
    margin: 0;
    display: inline-block;
    border: 2px solid black;
    }
    body{
        background-image: url(https://th.bing.com/th/id/OIP.jWtOq1fFpAD81geaeSwVTAHaHa?pid=ImgDet&rs=1);
        background-size: cover;
    }
  